.tab-content .tab-pane{
    min-height: 200px;
}
.nav-tabs{
    min-width: 100%;
}
.nav-item .card{
    border: none;
}
.nav .nav-item{
    width: 100px;
}
hr.solid{
    border-top: 3px solid #bbb;
}
.accordion-collapse{
    background-color: white;
}